body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

label{
  margin: 5px;
}

input{
  margin: 5px;
}

button{
  margin: 5px;
  alignment: center;
}
