/*CSS du container principal*/

body, html{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#connexion-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: darkcyan;
    margin: 0;
}

.divider{
    margin: 10px;
    top: 10px;
    bottom: 10px;
    border-left: 2px solid grey;
}

#user-name{
    color: white;
    margin: 20px;
    font-size: large;
}

#deconnexion-button{
    margin: 20px;
}

#choice-bar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.choice-text{
    font-size: 1.5em;
    color: darkcyan;
}

.selected{
    text-decoration: underline;
}

#team-name{
    width: 100%;
    text-align: center;
    margin: 15px;
}

/*CSS de la page informations de l'équipe*/

#informations-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

#team-members{
    height: 100%;
    width: 30%;
    border-right: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.member-item{
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid darkcyan;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    width: 80%;
}

img{
    margin-left: 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.member-more{
    text-decoration: underline;
    text-decoration-color: darkblue;
    color: blue;
    cursor: pointer;
}

.member-name{
    font-size: 1.3em;
    word-wrap: break-word;
    width: 75%;
}

.member-index{
    font-size: 1em;
}

.member-infos-container{
    margin-left: 15px;
    width: 100%;
}

#team-notes{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.team-note{
    padding: 10px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    word-wrap: break-word;
}

#member-input{
    width: 60%;
    margin: 10px;
}

#note-input{
    width: 60%;
    height: 50px;
    margin: 10px;
}

#modal {
    z-index: 10;
    position: absolute;
    left: 20%;
    top: 20%;
    bottom: 20%;
    right: 20%;
    background-color: white;
    border-radius: 15px;
    border: 2px solid darkcyan;
}

#opaque{
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.33;
}

.invisible{
    display: none;
}

#modal-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

#modal-title{
    margin-left: 40px;
    font-size: 1.5em;
}

#close-button{
    width: 35px;
    height: 35px;
}

#modal-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*CSS de la page games de l'équipe*/

#game-global-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#games-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-item{
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid darkcyan;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    width: 90%;
}

.game-img{
    margin-left: 30px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

.game-infos-container{
    margin-left: 15px;
    width: 100%;
}

.game-res, .game-date{
    font-size: 1.5em;
    word-wrap: break-word;
    width: 75%;
}

.game-note{
    font-size: 1.2em;
    word-wrap: break-word;
    width: 80%;
}

#create-game-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid darkcyan;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    width: 30%;
}

#create-game-container > * {
    margin: 10px;
}

#outcome-choice{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}

.possible-outcome-choice{
    padding: 5px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: black;
}

.outcome-icon{
    height: 40px;
    width: 40px;
}

.selected-outcome-choice{
    color: white;
    background-color: darkcyan;
    border: 3px solid black;
}

#note-input{
    width: 75%;
    height: 120px;
}

#display-more{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

#button-more-container{
    height: 100%;
    width: 65%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}